.search-field {
    background-color: #DCDCDC;
    padding: 2px;
    border-radius: 5px;
}

table {
    width: 100%;
}

.card-container {
    display: flex;
    align-items: center;

    & a {
        margin-left: 10px;
    }

    & button {
        margin-top: 10px
    }
}